.modalBackground {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0.8;
}

.modalContainer {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 2rem;
  border: 2px solid rgb(255, 252, 252);
}